.title {
    font-size: 40px;
    text-align: center;
    color: rgb(97, 97, 144);
    font-weight: bold;
}

.titleInput {
    font-size: 25px;
    text-align: center;
    color: rgb(97, 97, 144);
}


.formGrup {
    display: block;
    align-items: center;
}

.input {
    width: 250px;
    height: 25px;
    
}


.button {
    width: 190px;
    height: 30px;
    font-size: 20px;
    text-align: center;
    background-color: rgb(186, 223, 242);
    color: rgb(54, 54, 70);
}

.listItem {
    font-size: 25px;
    text-align: center;
    color: rgb(97, 97, 144);
}

.deleteItem {
    font-size: 15px;
    text-align: center;
    color: rgb(18, 17, 17);
    border: 1px solid;
    border-color: rgb(75, 21, 21);;
   background-color: rgb(245, 216, 216);
    border-radius: 2px;
}
